*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(c2.avif);
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    position: relative;
}
ul{
    list-style: none;
    background-color:#5f4c4c;
    height: 40px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    position: sticky;
}

li{
    margin: 10px;
    font-size: 20px;
}
.im{
    margin-left: -30px;
}
.sign1{

    margin-right: -60px;
}
.sign2{
     margin-right: -60px;
    

}
.s1{
    cursor: pointer;
    background-color: rgb(92, 206, 244);
    height: 20px;
    width: 80px;
    border-radius: 10px;

}

a:hover{
    color:white
}
.im{
    margin-top: -2px;
}

img{
    height: 40xx;
    width: 40px;
}

/* main  */
.container{
    height: 500px;
    width: 900px;
    background-color: antiquewhite; 
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;

}

a{
    color:black;
    text-decoration-line: none;
}
  





/* footer */

footer{
    height: 50px;
    background-color: bisque;
}

table{
   
    padding:10px 30px 0px 30px;
 
    margin-left: auto;
    margin-right: auto;
}


